//字体
$ruler: 16px;
$font-family: 'Montserrat', sans-serif;
//颜色
$color-main: #6ecba6; /*主色调*/
$color-bg: #ebecf0; /*背景颜色*/
$color-text-shadow: #fff; /*文字阴影颜色*/
$color-shadow-light: #fff; /*高亮阴影颜色*/
$color-shadow-light-inset: #f9f9f9; /*高亮阴影颜色内圈*/
$color-shadow-dark: #cbcbcb; /*暗部阴影颜色*/
$color-shadow-dark-inset: #4d4d4d; /*暗部阴影颜色内圈*/
$color-button-text: #61677c; /*按钮文本颜色*/
$color-button-center: #b90000; /*按钮中心颜色*/
$color-active: $color-main; /*激活颜色*/

//新拟物风格样式
$GrainFullRuler:16px;
$GrainFullBackgroundColor:#ebecf0;
$GrainFullFontSize:$GrainFullRuler/2;/*字体大小*/
$GrainFullFontFamily:'Montserrat', sans-serif;/*字体*/
$GrainFullWidth: $GrainFullRuler*2; /*宽*/
$GrainFullHeight: $GrainFullRuler; /*高*/
//$GrainFullRadius: $ruler/4;
//$GrainFullPositionX: $GrainFullWidth/10;
//$GrainFullPositionXOpposite: -($GrainFullWidth/10);
//$GrainFullPositionY: $GrainFullHeight/10;
//$GrainFullPositionYOpposite: -($GrainFullHeight/10);
$GrainFullAngle: 145deg;
//$GrainFullBlur: $GrainFullHeight/4;
//$GrainFulltextColor: #001f3f;
$GrainFullTextColor: #61677c;
$GrainFullTextShadowColor:#fff;
//$GrainFulltextColorOpposite: #ebecf0;
//$GrainFullBaseColor: #ebecf0;
$GrainFullDarkColor: #d1d2d6;
$GrainFullLightColor: #ffffff;
$GrainFullFirstGradientColor: #fbfdff;
$GrainFullSecondGradientColor: #d4d4d8;
@mixin neumorphism-default{
  text-shadow: 1px 1px 0 $GrainFullTextShadowColor;
  text-align: center;
  font-family: $GrainFullFontFamily;
  font-size: $GrainFullFontSize;
  color: $GrainFullTextColor;
  background-color: $GrainFullBackgroundColor;
  transition: all .5s ease-in-out;
}
//凸曲面
@mixin neumorphism-convex ($paramHeight:$GrainFullHeight,$paramWidth:$GrainFullWidth){
  @include neumorphism-default;
  border-radius: $paramHeight/4;
  background: linear-gradient($GrainFullAngle, $GrainFullFirstGradientColor, $GrainFullSecondGradientColor);
  box-shadow: $paramWidth/10 $paramHeight/10 ($paramHeight)/4 $GrainFullDarkColor, (-$paramWidth/10) (-$paramHeight/10) (($paramHeight)/4) $GrainFullLightColor;
  //box-shadow: -3px -3px 10px 1px $color-shadow-light, 4px 4px 15px $color-shadow-dark/*,inset 5px 5px 10px 1px $color-shadow-light-inset,inset -4px -4px 15px $color-shadow-dark-inset*/;
}

//凸平面
@mixin neumorphism-flat ($paramHeight:$GrainFullHeight,$paramWidth:$GrainFullWidth,$paramRuler:2px){
  @include neumorphism-default;
  border-radius: ($paramHeight+$paramWidth)/4;
  box-shadow: $paramRuler $paramRuler $paramRuler $GrainFullDarkColor, (-($paramRuler)) (-($paramRuler)) ($paramRuler) $GrainFullLightColor;
}

//凹曲面
@mixin neumorphism-concave ($paramHeight:$GrainFullHeight,$paramWidth:$GrainFullWidth){
  @include neumorphism-default;
  border-radius: $paramHeight/4;
  background: linear-gradient($GrainFullAngle, $GrainFullSecondGradientColor, $GrainFullFirstGradientColor);
  box-shadow: $paramWidth/10 $paramHeight/10 ($paramHeight)/5 $GrainFullDarkColor, (-$paramWidth/10) (-$paramHeight/10) (($paramHeight)/5) $GrainFullLightColor;
  //box-shadow:-6px -6px 15px 3px $color-shadow-light, 4px 4px 15px $color-shadow-dark,inset -6px -6px 15px 3px $color-shadow-light,inset 4px 4px 15px $color-shadow-dark;
}

//凹平面
@mixin neumorphism-pressed {
  //box-shadow: 2px 2px 5px $color-shadow-light, -2px -2px 5px $color-shadow-dark,inset 1px 1px 2px $color-shadow-dark, inset -1px -1px 2px $color-shadow-light;
  box-shadow: inset 1px 1px 2px $color-shadow-dark, inset -1px -1px 2px $color-shadow-light;
}
